In [1]:
import pandas as pd
import datadotworld as dw

In [18]:
uk_dataset = dw.load_dataset('datagov-uk/053a6529-6c8c-42ac-ae1e-455b2708e535')

In [19]:
uk_dataset.dataframes

LazyLoadedDict({'accident_2014_4': LazyLoadedValue(<pandas.DataFrame>), 'accident_2015_6': LazyLoadedValue(<pandas.DataFrame>), 'accident_2016_8': LazyLoadedValue(<pandas.DataFrame>), 'accident_2017_1': LazyLoadedValue(<pandas.DataFrame>), 'accident_2018_2': LazyLoadedValue(<pandas.DataFrame>), 'guidance_csv_11': LazyLoadedValue(<pandas.DataFrame>)})

In [20]:
results = dw.query('datagov-uk/053a6529-6c8c-42ac-ae1e-455b2708e535', 'SELECT * FROM accident_2014_4')

In [21]:
results.dataframe

,reference_number,grid_ref_easting,grid_ref_northing,number_of_vehicles,accident_date,time_24hr,1st_road_class,1st_road_class_no,road_surface,lighting_conditions,weather_conditions,local_authority,casualty_class,casualty_severity,sex_of_casualty,age_of_casualty,vehicle_number,type_of_vehicle
0,11S0281,407491,428929,1,2014-01-28,835,6,U,2,1,9,Calderdale,3,3,2,8,1,9
1,11S1147,412912,429039,1,2014-01-28,1745,6,U,2,4,1,Calderdale,3,3,2,15,1,9
2,11S1147,412912,429039,1,2014-01-28,1745,6,U,2,4,1,Calderdale,3,3,1,17,1,9
3,11U0285,407179,424776,2,2014-01-30,900,6,U,2,1,8,Calderdale,1,3,2,29,2,9
4,11U0285,407179,424776,2,2014-01-30,900,6,U,2,1,8,Calderdale,2,3,1,9,2,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,1CU0561,401834,419128,4,2014-12-30,1341,3,A58,2,1,1,Calderdale,1,3,2,39,2,9
619,1CU0561,401834,419128,4,2014-12-30,1341,3,A58,2,1,1,Calderdale,1,3,1,25,3,9
620,1CU0803,409343,424955,1,2014-12-30,1535,6,U,2,1,1,Calderdale,3,3,1,5,1,9
621,1CV0997,405698,423377,2,2014-12-31,1800,6,U,2,4,1,Calderdale,1,2,2,34,1,9
622,1CV0997,405698,423377,2,2014-12-31,1800,6,U,2,4,1,Calderdale,2,2,1,34,2,9